{
  "plugins": ["react", "jsx-a11y"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "rules": {
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/destructuring-assignment": 0,
    "react/react-in-jsx-scope": 0,
    "react/button-has-type": 0,
    "react/no-array-index-key": 0,
    "import/no-extraneous-dependencies": [0],
    "import/extensions": ["error", { "js": "never", "json": "always" }],
    "no-undef": 0,
    "no-restricted-globals": 0,
    "no-nested-ternary": 0,
    "no-restricted-syntax": 0,
    "no-prototype-builtins": 0,
    "radix": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"]
  }
}
